.wG5Gt8UucKgObpD7Yp3g {
    display: inline-block;
    position: relative;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 0.9rem;
    margin: 0.5em;
    background: #0d1117;
    color: #eee;
    padding: 0.5em;
    margin: 0.5em;
    overflow: auto;
    box-shadow: 0 0.25em 0.5em #fff1;
    border: 1px solid #fff3;
}

.WFvjeSIkQyiXg5gY8rSw {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.WFvjeSIkQyiXg5gY8rSw > div {
    background: var(--theme-color-secondary-5);
    color: var(--theme-color-on-secondary-5);
}

.wG5Gt8UucKgObpD7Yp3g .function {
    color: mediumpurple;
}

.wG5Gt8UucKgObpD7Yp3g .keyword {
    color: #f53;
}

.wG5Gt8UucKgObpD7Yp3g .string {
    color: greenyellow;
}

.wG5Gt8UucKgObpD7Yp3g .operator {
    color: orange;
}

.wG5Gt8UucKgObpD7Yp3g .punctuation {
    color: cyan;
}

.wG5Gt8UucKgObpD7Yp3g .template-string {
    background: #9f02;
}

.wG5Gt8UucKgObpD7Yp3g .interpolation {
    font-style: italic;
}

.wG5Gt8UucKgObpD7Yp3g .number {
    font-weight: bold;
}

.wG5Gt8UucKgObpD7Yp3g .comment {
    opacity: 0.6;
}

.UJScs8cfO0OgQtcTq1_3 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5em;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 0.25em;
    border: 1px solid #444;
    background-color: #222;

    > header {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;
    }
}

.t9v488eerTGz2x1CLJwy {
    display: grid;
    grid-template-columns: 1em 1fr;
    gap: 0.5em;
}

.vNWd9fKh9gKo5lshKBua {
    width: 100%;
}

.iHx9sebnbXnykVFRD3aU {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 0;
    padding: 0;
    background-color: var(--theme-color-neutral-1);
    color: var(--theme-color-on-neutral-1);

    > aside {
        min-height: 0;
        min-width: 0;
        position: relative;

        > * {
            position: absolute;
        }

        > .bTTCzpaTo1DKH4hlrLOA {
            position: absolute;
            left: 0;
            top: 64px;
            right: 0;
            bottom: 64px;
            width: 100%;
            height: calc(100% - 128px);
        }

        > .v4iAdhEjRjwCPajO_Kp2 {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: auto;
            width: 100%;
            height: 64px;
        }

        > .euqVMPDzsAGhNpCZ9USA {
            position: absolute;
            left: 0;
            top: auto;
            right: auto;
            bottom: 0;
            width: 50%;
            height: 64px;
        }

        > .gTO9upIZO_K2yG2MITMA {
            position: absolute;
            left: 50%;
            top: auto;
            right: auto;
            bottom: 0;
            width: 50%;
            height: 64px;
        }
    }
}

.gTtVSyNSYktrFwiThVyz {
    overflow: auto;
}

.fYA6LcDYnb5BrP1uJbDP {
    width: 100%;
}

