div.view-CodeEditorView {
    position: relative;
    margin: 0;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1rem;
    color: #fffb;
    background-color: #333;
    padding: 1em;
    line-height: 1.2;
}

div.view-CodeEditorView pre .comment {
    color: #fff7;
}

div.view-CodeEditorView pre .number {
    color: #fff;
    font-weight: bolder;
}

div.view-CodeEditorView pre .type {
    color: #cf9;
}

div.view-CodeEditorView pre .keyword {
    color: #07f;
}

div.view-CodeEditorView pre .global {
    color: #f70;
}

div.view-CodeEditorView pre .function {
    color: #ed0;
    font-weight: bold;
}
.LzpyYTOcJZJzRd22cQCu {
}

.rkDhSoMjifhuRueu54Nd {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100%;
}

.rkDhSoMjifhuRueu54Nd > * {
    min-height: 0;
}

.rkDhSoMjifhuRueu54Nd canvas {
    background-color: #333;
    width: 100%;
    height: 100%;
}

.rkDhSoMjifhuRueu54Nd > pre {
    overflow: auto;
    font-size: 80%;
}

.rkDhSoMjifhuRueu54Nd > pre .Ko1fSpIiSS52cOmJbpVR {
    background: #f00;
    color: #fff;
    border-radius: 100vmin;
    padding: 0 1em;
}

.lReXzQflWun_9Q7_SNCV {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

