.wG5Gt8UucKgObpD7Yp3g {
    display: inline-block;
    position: relative;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 0.9rem;
    margin: 0.5em;
    background: #0d1117;
    color: #eee;
    padding: 0.5em;
    margin: 0.5em;
    overflow: auto;
    box-shadow: 0 0.25em 0.5em #fff1;
    border: 1px solid #fff3;
}

.WFvjeSIkQyiXg5gY8rSw {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.WFvjeSIkQyiXg5gY8rSw > div {
    background: var(--theme-color-secondary-5);
    color: var(--theme-color-on-secondary-5);
}

.wG5Gt8UucKgObpD7Yp3g .function {
    color: mediumpurple;
}

.wG5Gt8UucKgObpD7Yp3g .keyword {
    color: #f53;
}

.wG5Gt8UucKgObpD7Yp3g .string {
    color: greenyellow;
}

.wG5Gt8UucKgObpD7Yp3g .operator {
    color: orange;
}

.wG5Gt8UucKgObpD7Yp3g .punctuation {
    color: cyan;
}

.wG5Gt8UucKgObpD7Yp3g .template-string {
    background: #9f02;
}

.wG5Gt8UucKgObpD7Yp3g .interpolation {
    font-style: italic;
}

.wG5Gt8UucKgObpD7Yp3g .number {
    font-weight: bold;
}

.wG5Gt8UucKgObpD7Yp3g .comment {
    opacity: 0.6;
}

