.actionImage {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

div.actionImage > header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.dimensions {
	padding: 0.5em 1em;
	border-radius: 0 0 0.5em 0;
	color: #fff;
	background-color: #000c;
}

.link {
	padding: 0.5em 1em;
	border-radius: 0 0 0 0.5em;
	color: #fff;
	background-color: #000c;
}

.mimeType {
	padding: 0.5em 1em;
	border-radius: 0 0 0.5em 0.5em;
	color: #fff;
	background-color: #000c;
}
