.Layout {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--theme-color-neutral-1);
    color: var(--theme-color-on-neutral-1);
    overflow: auto;
    display: grid;
    grid-template-columns:
        1fr min(calc(50vw - 0.5em), 380px) min(calc(50vw - 0.5em), 380px)
        1fr;
    gap: 0;
    grid-auto-rows: max-content;
}

.Layout > * {
    grid-column: 2/4;
}

.Layout > :global(*.half-left) {
    grid-column: 1/3;
    place-self: start center;
}

.Layout > :global(*.half-right) {
    grid-column: 3/5;
    place-self: start center;
}

.Layout > :global(*.margin-left) {
    grid-column: 1/2;
}

.Layout > :global(*.margin-right) {
    grid-column: 4/5;
}

.Layout > :global(*.full-width) {
    grid-column: 1/-1;
}

@media (width < 1360px) {
    .Layout > :global(*.half-left),
    .Layout > :global(*.half-right),
    .Layout > :global(*.margin-left),
    .Layout > :global(*.margin-right) {
        grid-column: 2/4;
    }
}

ol,
ul {
    line-height: 1.3;
}
