.Layout {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--theme-color-neutral-1);
    color: var(--theme-color-on-neutral-1);
}

.Layout > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 4rem 0;
    overflow: auto;
}
