.Article {
    display: grid;
    grid-template-columns: 1fr 390px 390px 1fr;
    margin: 0 0;
    margin: 0;
}

.Article blockquote {
    border-left: 0.25em solid #e82;
    padding-left: 1em;
    font-style: italic;
}

.Article > * {
    grid-column: 2/4;
}

.Article > :global(*.full-width) {
    grid-column: 1/5;
    padding: 0.5em;
}

.Article > :global(*.margin-right) {
    grid-column: 4/5;
    padding: 1em;
}

.Article > :global(*.margin-left) {
    grid-column: 1/2;
    padding: 1em;
}

@media (max-width: 1200px) {
    .Article > :global(*.margin-right) {
        grid-column: 2/4;
    }

    .Article > :global(*.margin-left) {
        grid-column: 2/4;
    }
}

@media (max-width: 800px) {
    .Article {
        grid-template-columns: 8px 1fr 1fr 8px;
    }
}

.Article h1,
.Article h2,
.Article h3 {
    display: block;
    position: relative;
    padding: 0 0 0 0.5em;
}

.Article h1::after,
.Article h2::after,
.Article h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, currentcolor, transparent);
}

.Article h1 {
    font-size: 145%;
}

.Article h2 {
    font-size: 130%;
    margin-left: 1em;
}

.Article h3 {
    font-size: 115%;
    margin-left: 2em;
}
