.sliders {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5em;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 0.25em;
    border: 1px solid #444;
    background-color: #222;

    > header {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;
    }
}

.slider {
    display: grid;
    grid-template-columns: 1em 1fr;
    gap: 0.5em;
}
