.Layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100%;
    gap: 1em;
    place-items: stretch;
}

.Layout > div {
    max-height: 100%;
    overflow: auto;
}

@media (max-width: 640px) {
    .Layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 1em;
    }
}
