.expander > summary {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.expander > div {
    margin-left: 0.5em;
    padding-left: 0.5em;
    border-left: 1px solid color-mix(in srgb, currentColor, transparent);
}

.handle {
    opacity: 0.5;
}
