.article > * {
    grid-column: 2/4;
}

.article > :global(.margin-left) {
    grid-column: 1/2;
}

.article > :global(.margin-right) {
    grid-column: 3/4;
}

.article > :global(.half-left) {
    grid-column: 1/3;
}

.article > :global(.half-right) {
    grid-column: 2/4;
}

.article > :global(.full-width) {
    grid-column: 1/-1;
}
