.Article {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    background: var(--theme-color-neutral-5);
    color: var(--theme-color-on-neutral-5);
}

.Article > footer,
.Article > header {
    position: fixed;
    left: 0;
    width: 100%;
    height: 64px;
    bottom: 0;
    box-sizing: border-box;
}

.Article > header {
    top: 0;
    background: linear-gradient(
        to top,
        var(--theme-color-primary-5-1),
        var(--theme-color-primary-5-5)
    );
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    padding: 0 0.5em;
    height: 3em;
    z-index: 9999;
}

.Article > header > * {
    flex: 0 0 auto;
}

.Article > header > div {
    flex: 1 1 auto;
    text-align: center;
    font-weight: bolder;
    font-size: 200%;
    color: var(--theme-color-on-primary);
    text-shadow: 0 2px 2px var(--theme-color-primary-9);
}

.Article > header > button {
    border: none;
    background: linear-gradient(
        to top,
        var(--theme-color-primary-7),
        var(--theme-color-primary-3)
    );
    box-shadow: 0 0 5px var(--theme-color-primary-1);
    height: 2em;
    width: 80px;
    border-radius: 0.25em;
    color: inherit;
    font: inherit;
    font-weight: bold;
    font-size: 90%;
    display: inline-block;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-variant: small-caps;
    cursor: pointer;
    transition: all 0.3s;
}

.Article > header > button:first-child,
.Article > header > button:nth-child(2) {
    width: 2em;
}

.Article > header > button:hover,
.Article > header > button:active {
    background: linear-gradient(
        to top,
        var(--theme-color-primary-9),
        var(--theme-color-primary-5)
    );
    box-shadow: 0 0 2px 0px var(--theme-color-primary-9) inset,
        0 0 5px var(--theme-color-primary-5);
}

.Article > header > button > svg {
    height: 1.5em;
    fill: currentColor;
}

.Article > footer {
    bottom: 0;
    background: linear-gradient(to top, #ddd, transparent);
}

.Article blockquote {
    border-left: 0.25em solid #e82;
    padding-left: 1em;
    font-style: italic;
}

.Grid {
    display: grid;
    grid-template-columns: 1fr 390px 390px 1fr;
    margin: 64px 0;
}

.Grid > * {
    grid-column: 2/4;
}

.Grid > :global(*.full-width) {
    grid-column: 1/5;
    padding: 0.5em;
}

.Grid > :global(*.margin-right) {
    grid-column: 4/5;
    padding: 1em;
}

.Grid > :global(*.margin-left) {
    grid-column: 1/2;
    padding: 1em;
}

@media (max-width: 1200px) {
    .Grid > :global(*.margin-right) {
        grid-column: 2/4;
    }

    .Grid > :global(*.margin-left) {
        grid-column: 2/4;
    }
}

@media (max-width: 800px) {
    .Grid {
        grid-template-columns: 10px 1fr 1fr 10px;
    }
}

.Grid h1,
.Grid h2,
.Grid h3 {
    display: block;
    position: relative;
    padding: 0 0 0 0.5em;
}

.Grid h1::after,
.Grid h2::after,
.Grid h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, currentcolor, transparent);
}

.Grid h1 {
    font-size: 145%;
}

.Grid h2 {
    font-size: 130%;
    margin-left: 1em;
}

.Grid h3 {
    font-size: 115%;
    margin-left: 2em;
}

.Article a,
.Article a:visited {
    color: #850;
    text-decoration-color: #8504;
}
