.skybox {
    position: relative;
}

.skybox .footer {
    width: 100%;
    padding: 4px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}
