.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    margin: 0.5em;
    padding: 0;
    font-size: 70%;
    font-weight: bold;
}

.main > div {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.main > div > div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 -1px -1px;
    padding: 0;
    width: 2.2em;
    height: 2.5em;
    overflow: hidden;
    border: 1px solid currentColor;
}
