.actionImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    > header {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }

    > details {
        position: absolute;
        left: 0;
        bottom: 0;
        width: auto;
        color: #fff;
        background-color: transparent;

        > summary {
            background-color: #000c;
            border-radius: 0 1em 0 0;
            padding: 0.5em 1em;
        }

        > div {
            max-height: 80vh;
            overflow: auto;
        }
    }
}

.dimensions {
    padding: 0.5em 1em;
    border-radius: 0 0 0.5em 0;
    color: #fff;
    background-color: #000c;
}

.link {
    padding: 0.5em 1em;
    border-radius: 0 0 0 0.5em;
    color: #fff;
    background-color: #000c;
}

.mimeType {
    padding: 0.5em 1em;
    border-radius: 0 0 0.5em 0.5em;
    color: #fff;
    background-color: #000c;
}
